/* Reset CSS */
html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.micro-frontend-container {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: auto;
}
