.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  width: 100%;
}

.dashboard-tile {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr;
  }
}

.dashboad-title {
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #26a57f;
  border-color: #1f9572;
  border-radius: 20px;
  /* alight to the right */
  float: right;
}

.button:hover {
  background-color: #1f9572;
  border-color: #26a57f;
}
